*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080C14;
  color: #EEF2F8;
  -webkit-font-smoothing: antialiased;
}